/* font for logo */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
/* font for menu topics */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
/* font for topic description */
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
/* font for fun fact */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
/* news sections fonts */
@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-size: 32px;
  width: 100%;
  height: 100%;
}

body {
  margin: 0 auto;
  /* font-size: 16px; */
  width: 100%;
  font-family: 'Nuosu SIL', serif;
  background: #FFFAFA;
  border: 1px solid green
}

@media (min-width: 620px) {
  body {
    border: 1px solid red
  }
}

@media (min-width: 980px) {
  body {
    border: 1px solid blue
  }
}

.container {
  margin: 0 auto;
  padding: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: 0 1em;
  background: #000000;
  color: #FFFAFA;
  /* border: 1px solid orange; */
}

@media (min-width: 360px) {
  .navbar {
    height: 70px
  }
}

/* @media (min-width: 620px) {
  .navbar {
    height: 70px
  }
} */

/* @media (min-width: 1240px) {
  .navbar {
    height: 120px
  }
} */

.navbar>h3 {
  padding: 0 1em;
  font-size: .7em;
  font-family: 'Kaushan Script', cursive;
  cursor: pointer;
}

@media (min-width: 360px) {
  .navbar>h3 {
    font-size: 0.75rem;
  }
}

@media (min-width: 620px) {
  .navbar>h3 {
    font-size: 1rem;
  }
}

/* @media (min-width: 980px) {
  .navbar>h3 {
    font-size: 2rem;
  }
} */

.navbar>h4 {
  color: #FFD700;
  font-size: 0.5rem;
  font-family: 'Titillium Web', sans-serif;
  margin-right: 5em,
}

@media (min-width: 360px) {
  .navbar>h4 {
    font-size: 0.6rem;
  }
}

@media (min-width: 620px) {
  .navbar>h4 {
    font-size: 0.75rem;
  }
}

/* @media (min-width: 980px) {
  .navbar>h4 {
    font-size: 1rem;
    margin-right: 3em;
  }
} */

.menu {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1em;
  cursor: pointer
}

.first-line,
.second-line,
.third-line {
  width: 0.7em;
  height: 2px;
  background: #FFFAFA;
  margin: 3px 0;
}

@media (min-width: 360px) {
  .first-line,
  .second-line,
  .third-line {
    width: 1em;
    height: 2px;
    background: #FFFAFA;
    margin: 3px 0;
  }
}

/* @media (min-width: 620px) {

  .first-line,
  .second-line,
  .third-line {
    width: 1em;
    height: 2px;
    background: #FFFAFA;
    margin: 3px 0;
  }
} */

/* @media (min-width: 980px) {

  .first-line,
  .second-line,
  .third-line {
    width: 2em;
    height: 4px;
    background: #FFFAFA;
    margin: 6px 0;
  }
} */

.menux {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  cursor: pointer
}

.first-line-x {
  width: 0.7em;
  height: 2px;
  background: #FFFAFA;
  margin: 8px 0;
  transform: rotate(40deg);
  transform-origin: left;
  transition: all 0.5s ease;
}

.third-line-x {
  width: 0.7em;
  height: 2px;
  background: #FFFAFA;
  margin: 4px 0;
  transform: rotate(-40deg);
  transform-origin: left;
  transition: all 0.5s ease;
}

@media (min-width: 620px) {
  .menux {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid red; */
    padding: 0 1em;
  }

  .first-line-x {
    width: 1em;
    height: 2px;
    transform: rotate(39deg);
    background: #FFFAFA;
    margin: 8px
  }

  .third-line-x {
    width: 1em;
    height: 2px;
    transform: rotate(-39deg);
    background: #FFFAFA;
    margin: 10px 0;
  }
}

/* @media (min-width: 980px) {

  .first-line-x {
    width: 1.5em;
    height: 4px;
    transform: rotate(30deg);
    background: #FFFAFA;
    margin: 8px
  }

  .third-line-x {
    width: 1.5em;
    height: 4px;
    transform: rotate(-30deg);
    background: #FFFAFA;
    margin: 10px 0;
  }
} */

.menu-container {
  width: 100%;
  background: #FFFAFA;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Titillium Web', sans-serif;
  font-size: 0.5rem;
  font-weight: 700;
  padding: 0 1em;
  border-bottom: 1px solid #000000;
  flex-wrap: wrap
}

@media (min-width: 360px) {
  .menu-container {
    font-size: 0.6rem;
  }
}

/* @media (min-width: 620px) {
  .menu-container {
    font-size: 0.75rem;
  }
} */

.menu-topic {
  margin: 2% 0;
}

.menu-topic:hover {
  border-bottom: 4px solid greenyellow;
  margin: 1% 0;
  cursor: pointer
}

.menu-topic:active {
  border-bottom: 2px solid pink;
}

.menu-topic:visited{
   border-bottom: 2px solid pink; 
}

/* body */

.body-container {
  width: 100%;
  margin: 0 auto;
}

/* intro section */

.intro-container {
  width: 100%;
  color: #000000;
  background-image:
    url("https://i.pinimg.com/564x/ad/33/db/ad33db8f4e05c78ba81e241c1cf22491.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 360px) {
  .intro-container {
    height: 360px;
  }
}

@media (min-width: 620px) {
  .intro-container {
    height: 400px;
  }
}

@media (min-width: 980px) {
  .intro-container {
    height: 600px;
  }
}

.intro-container>h2 {
  width: 100%;
  text-align: center;
  margin: 0.75em 0;
  position: relative;
  font-size: 0.75rem;
  font-family: 'Kaushan Script', cursive;
  font-weight: 400;
}

@media (min-width: 360px) {
  .intro-container>h2 {
    font-size: 0.8rem;
    margin: 0.75em 0;
  }
}

@media (min-width: 620px) {
  .intro-container>h2 {
    font-size: 1rem;
    margin: 1em 0
  }
}

@media (min-width: 980px) {
  .intro-container>h2 {
    font-size: 1rem
  }
}

.btn-container {
  width: 100%;
  text-align: center;
  padding: 0.5em 0;
  margin: 7.5em 0;
  /* border: 1px solid magenta */
}

.intro-button {
  width: 30%;
  height: 10%;
  /* margin: auto 1em; */
  /* text-align: center; */
  border: none;
  background: #FFFAFA;
  box-shadow: 0px 0px 8px 0.5px #888888;
  font-family: 'Titillium Web', sans-serif;
  font-size: 0.5rem;
  font-weight: 600;
  /* padding: 0.2em 0; */
  text-decoration: none;
  cursor: pointer
}

.intro-button:focus {
  outline: none;
}

.intro-button:hover {
  background: #000000;
  color: #FFFAFA
}

@media (min-width: 620px) {
  .btn-container {
    margin: 9em 0;
  }
}

@media (min-width: 980px) {
  .btn-container {
    margin: 15em 0 2em 0;
  } 

  .intro-button {
    font-size: 0.6rem;
    
  }
} 

/* intro page topic card */

.territories {
  width: 100%;
  margin: 0.5em auto;
  padding: 0.2em 0 0 0;
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-size: 1rem;
  /* border: 2px solid greenyellow; */
  background: #FFFAFA
}

@media (min-width: 360px) {
  .territories {
    font-size: 1rem;
  }
}

@media (min-width: 620px) {
  .territories {
    font-size: 1.2rem;
  }
}

@media (min-width: 980px) {
  .territories {
    margin: 0.5em 0 0 0;
    padding: 0.5em 0 0 0;
    font-size: 1.5rem;
    background: #FFFAFA;
  }
}

.topic-card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0.5em auto;
  background: #FFFAFA;
}

/* @media (min-width: 620px) {
  .topic-card-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
} */

/* @media (min-width: 980px) {
  .topic-card-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
} */

.topic-card {
  width: 70%;
  margin: 0.5em auto;
  box-shadow: 0px 0px 10px 2px #888888;
}

@media (min-width: 620px) {
  .topic-card {
      width: 60%;
      margin: 1em auto;
      box-shadow: 0px 0px 10px 2px #888888;
    }
} 

@media (min-width: 980px) {
  .topic-card {
    width: 40%;
    margin: 1em auto;
    box-shadow: 0px 0px 10px 2px #888888;
  }
}

.intro-img {
  width: 100%;
  opacity: 1;
  margin-bottom: -0.2em;
}

.topic-intro {
  letter-spacing: 0.01em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0.5em 1em;
  background: #000000;
  color: #FFFAFA;
  font-family: 'Barlow', sans-serif;
}

.topic-intro>h4 {
  font-size: 0.75rem;
  margin: 4% 0;
  border-bottom: 2px solid #FFFAFA;
}

/* @media (min-width: 620px) {
  .topic-intro>h4 {
    font-size: 2rem;
    margin: 3% 0;
    border-bottom: 2px solid #FFFAFA;
  }
} */

/* @media (min-width: 980px){
  .topic-intro>h4 {
    font-size: 2rem;
    margin: 3% 0;
    border-bottom: 2px solid #FFFAFA;
    }
} */

.topic-intro>h4:hover {
  border-bottom: 2px solid greenyellow;
  cursor: pointer;
}

.topic-intro>p {
  font-size: 0.5rem;
  margin-top: 0;
}

/* @media (min-width: 620px) {
  .topic-intro>p {
    font-size: 1.2rem;
    margin-top: 0;
  }
} */

/* @media (min-width: 980px) {
  .topic-intro>p {
      font-size: 1.2rem;
      margin-top: 0;
    }
} */

.navigate-button {
  border: 0.75px solid #FFFAFA;
  font-size: 1rem;
  font-weight: 200;
  padding: 0.25em;
  /* text-align: center; */
  font-family: 'Titillium Web', sans-serif;
}

/* @media (min-width: 620px) {
  .navigate-button {
    font-size: 3em;
    border: 1px solid #FFFAFA;
    padding: 0.5em;
  }
} */

/* @media (min-width: 980px) {
  .navigate-button {
    font-size: 3em;
    border: 1px solid #FFFAFA;
    padding: 0.5em;
  }
} */

.navigate-button:hover {
  cursor: pointer;
  color: greenyellow;
  border: 0.75px solid greenyellow;
}

@media (min-width: 620px) {
  .navigate-button:hover {
    cursor: pointer;
    color: greenyellow;
    border: 1px solid greenyellow;
  }
}

/* FOOTER SECTION */

.footer-container {
  margin: 0 auto;
  width: 100%;
  padding: 0.5em 0.5em;
  background: #000000;
}

.footer {
  background: #000000;
  text-decoration: none;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-size: 0.45rem;
}

.footer>p {
  color: #FFFAFA
}

/* .footer>p>a:link {
  background: lightblue;
  border-radius: 15px;
  font-size: 0.4rem;
  padding: 0.2em 0.5em;
  color: #FFFAFA;
  text-decoration: none;
} */

/* single topic card */

.single-topic-card {
  widows: 100%;
  margin: 0 auto;
  /* border: 2px solid magenta; */
  /* background: #000000; */
}

.single-topic-intro {
  max-width: 90%;
  /* background: #000000; */
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 3px dotted green; */
  box-shadow: 0px 0px 10px 2px #888888;
}

@media (min-width: 1050px) {
  .single-topic-intro {
    margin: 1em auto;
    max-width: 90%;
    flex-direction: row;
  }
}

.single-topic-intro-img {
  width: 100%;
  margin: 0 auto;
  /* border: 3px solid teal; */
}

@media (min-width: 1050px) {
  .single-topic-intro-img {
    /* margin: 0.5em auto; */
    max-width: 60%;
    flex-direction: row;
  }
}

.fun-fact {
  width: 100%;
  margin: 0 auto;
  padding: 1em 1em;
  font-family: 'Dancing Script', cursive;
  font-size: 1rem;
  color: #000000;

  /* background: #000000; */
  /* height: relative; */
  /* border: 2px solid red; */
}

@media (min-width: 980px) {
  .fun-fact {
    /* margin: 0.5em auto; */
    max-width: 90%;
    font-size: 2rem;
  }
}

@media (min-width: 1050px) {
  .fun-fact {
    /* margin: 0.5em auto; */
    max-width: 40%;
    font-size: 1.25rem
  }
}

span {
  font-size: 0.75rem;
  color: #FFD700;
  font-weight: 600
}

@media (min-width: 980px) {
  span {
    /* margin: 0.5em auto; */
    max-width: 90%;
    font-size: 1.5rem;
  }
}

@media (min-width: 1050px) {
  span {
    /* margin: 0.5em auto; */

    font-size: 1rem
  }
}

/* news section */

.news-container {
  width: 100%;
  margin: 0 auto;
  font-family: 'Joan', serif;
  background: #FFFAFA;
  /* border: 1px solid yellow; */
}

/* .news-name{
    width: 100%;
    margin: 0 auto;
    padding: ;
    border: 1px solid magenta
} */

.news {
  width: 90%;
  margin: 1em 1em;
  box-shadow: 0px 0px 10px 2px #888888;
}

@media (min-width: 620px) {
  .news {
    width: 70%;
    margin: 1em auto;
  }
}

@media (min-width: 980px) {
  .news {
      width: 50%;
      margin: 1em auto;
    }
}

.news-img-container {
  width: 100%;
}

.news-headline-story {
  margin: 0em 1em;
}

.headline {
  font-size: 0.75rem;
  line-height: 1.5;
}

/* @media (min-width: 620px) {
  .headline {
      font-size: 1rem;
      line-height: 1.5;
    }
} */

/* @media (min-width: 980px) {
  .headline {
    font-size: 1rem;
    line-height: 1.5;
  }
} */

.story {
  font-size: 0.6rem;
  line-height: 1.5;
  margin-bottom: 1em;
  padding: 0 0 1em 0;
}

/* @media (min-width: 620px) {
  .story {
      font-size: 0.8rem;
      line-height: 1.4;
      margin-bottom: 1.5em;
      padding: 0.5em 0 1.5em 0;
    }
} */

/* latest news tag */

.latest-news{
  margin: 1em 0 0 0;
  color: green;
  font-size: 0.7rem;
  font-weight: 500,
}

/* @media (min-width: 980px){
  .latest-news {
    margin: 1em 0 0 0;
    color: green;
    font-size: 1rem;
  }
} */

/* latest news */

.latest-switch {
  text-align: center;
  padding: 0 1em 1em 1em;
  /* border: 1px solid red; */
}

.latest-switch>button {
  /* margin: 0 auto 0 auto; */
  border: none;
  font-size: 0.5rem;
  padding: 1em 1em;
  background: #FFFAFA;
  box-shadow: 0px 0px 10px 2px #888888;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
}

/* @media (min-width: 980px) {
  .latest-switch>button {
      font-size: 1.2rem;
      border: 1px solid yellow;
    }
} */

.latest-switch>button:hover {
  background: #000000;
  color: #FFFAFA;
  text-decoration: none
}